.diogokermes{
	color:white;
	font-size: 300%;
}
.tags{
	line-height:30px;
	background-color:#303030;
	color:yellow;
	height:40px;
	width:885px;
	float:center-left;
	padding:5px;
	font-size:130%;
	
}

.tam{
	font-size:150%;
	color:yellow;
}
p{
	color: black;
	font-size:100%;
	text-align:justify;

}

header{
	background-color:black;
	color:White;
	text-align:center;
	padding:30px;
}
nav{
	line-height:30px;
	background-color:gray;
	color:white;
	height:680px;
	width:300px;
	float:left;
	padding:5px;

}
nav a{
	text-align:center;
	color:white;
	text-decoration:none;
}
section{
	width:600px;
	float:left;
	padding:5px;
	
}
section a{
	color:white;
	text-decoration:none;
}
footer{
	background-color:black;
	color:white;
	clear:both;
	text-align:center;
	padding:8px;
	font-size:80%;
}
.dk{
	width:120px;
	height:180px;
	float:right;
}
.ardk{
	float:left;
	width:130px;
	height:130px;
}
.dkvo{
	float: center;
	text-align:center;
}
.home1{
	width:400px;
	height:250px;
	float:right;
}