.diogokermes{
	color:white;
	font-size: 300%;
}
.tags{
	line-height:30px;
	background-color:#303030;
	color:yellow;
	height:40px;
	width:885px;
	float:center-left;
	padding:5px;
	font-size:130%;
	
}
section a{
	color:white;
	text-decoration:none;
}
.tam{
	font-size:150%;
	color:yellow;
}
p{
	color: black;
	text-align:160%;
	text-align:justify;

}
header{
	background-color:black;
	color:White;
	text-align:center;
	padding:30px;
}
nav{
	line-height:30px;
	background-color:gray;
	color:white;
	height:680px;
	width:300px;
	float:left;
	padding:5px;

}
nav a{
	text-align:center;
	color:white;
	text-decoration:none;
}
section{
	width:600px;
	float:left;
	padding:5px;
}

footer{
	background-color:black;
	color:white;
	clear:both;
	text-align:right;
	padding:8px;
	font-size:80%;
}
.dk{
	width:100px;
	height:140px;
}
.ardk{
	float:left;
	width:130px;
	height:130px;
}